doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title riot-app
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Chrome for Android theme color
    meta(name='theme-color', content='#2196F3')
    // Web Application Manifest
    link(rel='manifest', href='manifest.json')
    // Tile color for Win8
    meta(name='msapplication-TileColor', content='#2196F3')
    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content='riot-app')
    //link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')
    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='riot-app')
    //link(rel='apple-touch-icon', href='images/touch/apple-touch-icon.png')
    // Tile icon for Win8 (144x144)
    //meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
    link(rel='stylesheet', href='styles.css')
    link(rel='stylesheet', href='main.css')
  body
    div!= view

    script(src='tags.js', type='riot/tag')
    script(src='riot/riot+compiler.js')
    script(src='router.js')

