doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content

		script(src='riot/riot+compiler.js')
		script.
			riot.mount('*', {title: 'Express'});
